.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    background: #3FAF82;
    color: #fff;
}


.center {
    position: absolute;
    top: 40%;
    left: 40%; 
    
} 

.menu-icon {
    width: 80px;
    height: 52px;
    cursor: pointer;
    z-index: 50;
}

.menu-icon .line-1, .menu-icon .line-2, .menu-icon .line-3 {
    height: 8px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}



div {
    display: block;
}

