.main {
    width: max;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    background-color: #efc3e6;
    padding-right: 5px;
}



a { 
    margin: auto;
    width: 20%;
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 18px;
    padding: 10px;
    color: black;
}

a:hover {
    text-transform: normal;
    letter-spacing: normal;
    color: #006494;
}

.active {
    background-color: #9c89b8;
}


h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: center;
}

.center{
    text-align: center;
}

body{
    background-color: #b2f7ef;
    /* background-image: url("https://cutewallpaper.org/21/hd-website-backgrounds/Autodesk-Wallpaper-Website-Background-Hd-Wallpapers-.jpg"); */
}
.handles{
    background-color:#fffcf7;
    width: 470px;
    height: 400px;
    color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;  
    border-radius: 10%;
}
.maincontent{
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 12px 10px rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    height: 600px;
}
.container{
    flex-grow: 1;
    max-width: 500px;
    height: 400px;
    background-color: #fffcf7;
    color: black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
.handles a{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif, 'arial';
    text-align: center;
    font-style: italic;
}
p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif, 'arial';
    text-align: center;
    
}
.details{
    display: flex;
}
.args{
    padding-left: 0px;
    margin: auto;
    width: 70px;
}
.boxes{
    margin: auto;
}